<div class="container">
  <div class="title">
    <img src="assets/images/img_illustration@2x.png">
    <div class="zh">
      介面設計師轉職之路
    </div>
    <div class="en">
      UI Designer Road Map
    </div>
  </div>
  <span class="skill-container" *ngFor="let skill of skills" [ngStyle]="buttonPosition(skill.x,skill.y)">
    <div (click)="changeState(skill)" [ngClass]="skill.state" class="skill-button locked">
      <img [src]="skill.imgPath">
    </div>
    <div class="skill-text">
      <span>
        {{skill.label}}
      </span>
    </div>
  </span>
  <div class="dialog-animal" *ngIf="showDialog">
    <img src="assets/images/img_monocat.png" >
  </div>
  <div class="dialog" *ngIf="showDialog">
    <div class="dialog-pic">
      <img [src]="dialogImgPath">
    </div>
    <div class="dialog-content">
      <div class="content-title">
        {{dialogContentTitle}}
      </div>
      <div class="content-desc">
        {{dialogContentDesc}}
      </div>

    </div>
  </div>
  <footer>
    <img src="assets/images/img_footer.png" >
  </footer>
</div>
